
        <aside>
           
           <section>
               <h1>{{follow}}</h1>
               <ul class="links"> 
                   <li><a href="https://twitter.com/kramp"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="https://plus.google.com/u/0/+BertrandCHEVRIER/about"><span class="fa fa-google-plus"></span></a></li>
                   <li><a href="https://github.com/krampstudio"><span class="fa fa-github"></span></a></li>
                   <li><a href="http://fr.linkedin.com/in/chevrierbertrand"><span class="fa fa-linkedin"></span></a></li>
               </ul>
           </section>
           <section>
               <h1>{{archives}}</h1>
               <x-post-list>
                {{#each allposts}}
                    <x-post 
                       {{#if date}}date="{{date}}" {{/if}}
                       {{#if categories}}categories="{{categories}}" {{/if}}>
                        <x-load href="{{url}}" target="#content">{{title}}</x-load>
                    </x-post> 
                {{/each}} 
               </x-post-list> 
           </section>

        </aside>
