<article>

    <header>
        <h1>{{title}}</h1>

        <div class="post-meta">    

        {{#if author}}<span class="author">{{author}}</span>{{/if}} , 
        {{#if date}}<time datetime="{{date}}">{{date}}</time>{{/if}}
        {{#if categories}}
            <div class="categories">
                {{#each categories}}
                <span>{{.}}</span>
                {{/each}}
            </div>
        {{/if}}
        </div>

    </header>

    {{{content}}}

    {{#if sharing}}
    <aside>
        twitter, g+, fb
    </aside>
    {{/if}}

    {{#if comments}}
    <aside>
        discuss
    </aside>
    {{/if}}

    <script type="text/javascript">
        document.location = 'index.html?state={{url}}';
    </script>

</article>
