<article>

    <header>
        <h1>{{title}}</h1>

        <div class="post-meta">    

        {{#if date}}<x-time datetime="{{date}}" format="ll"></x-time>{{/if}}
        {{#if author}} by <x-author>{{author}}</x-author>{{/if}} 
        {{#if categories}}
            <div class="categories">
                {{#each categories}}
                <span>{{.}}</span>
                {{/each}}
            </div>
        {{/if}}
        </div>

    </header>

    {{{content}}}

    {{#if sharing}}
    <aside>
        <x-share twiter googleplus linkedin></x-share>
    </aside>
    {{/if}}

    {{#if comments}}
    <x-disqus shortname="{{blogName}}" identifier="{{fileTitle}}" lang="{{lang}}" url="{{fullUrl}}"></x-disqus>   
    {{/if}}

    <script type="text/javascript">
        document.location = 'index.html?state={{url}}';
    </script>

</article>
