<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{name}} - {{desc}}</title>
        <meta name="description" content="{{desc}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{paths.css}}main.css">
        <link rel="stylesheet" href="{{paths.js}}vendor/x-tag-code-prism/code-prism.css">

        <script src="{{paths.js}}vendor/x-tag-core/web-components-polyfills.js"></script>
        <script src="{{paths.js}}vendor/modernizr/modernizr.js"></script>
        <script src="{{paths.js}}vendor/history/scripts/bundled/html4+html5/native.history.js"></script>
        <script src="{{paths.js}}vendor/x-tag-core/core.js"></script>
        <script src="{{paths.js}}vendor/lodash/lodash.compat.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <header role="banner">
                <h1><a href="{{url}}">{{name}}</a></h1>
                <h2>{{desc}}</h2>
                <div class="lg-switcher">
                    <a href="#" class="active" title="Krampstudio en français"><img src="{{paths.img}}fr.png" alt="fr" /></a>
                    <a href="#" title="Krampstudio in English"><img src="{{paths.img}}gb.png" alt="gb" /></a>
                </div>
            </header>

            <div class="main">

                {{> nav}}
                
                {{> aside}}


                <div id="content">
                    {{#each posts}}
                        {{> post-entry this}}
                    {{/each}}
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {{>footer}}

        <script src="{{paths.js}}components/x-load.js"></script>
        <script src="{{paths.js}}components/x-analytics.js"></script>
        <script src="{{paths.js}}components/x-disqus.js"></script>
        <script src="{{paths.js}}vendor/x-tag-code-prism/code-prism.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <x-analytics code="UA-XXXXX-X" />

    </body>
</html>
